* {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 40%;
    background-color: lightblue;
}

h1 {
    margin: 10px;
    padding-top: 20px;
}

.container a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.dog {
    width: 30rem;
    height: 30rem;
    object-fit: contain;
    margin-top: 20px;
}

.buttons {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    z-index: 2;
    width: 50%;
}

.buttons div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    font-size: 50px;
    cursor: pointer;
}


.after-click {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 10px auto;
}