* {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    text-align: center;
    max-width: 40%;
}

.back a {
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.back {
    padding: 30px 0 50px 0;
}

.image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.delete {
    font-size: 4em;
    cursor: pointer;
}

.desc {
    width: 50%;
}